.day-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.map-logo{
    width: 12.5px;
    height:12.5px;
    margin-left: 10px;
}
.location-img {
    width: 175px;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
    margin:30px;
    margin-right: 15px;
    margin-left: 15px;
    
    
}
.day-card{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: 5px;
}
.location-data{
    display: flex;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;
}

.location-data a{
    color: rgb(65, 64, 64);
    font-size: 10px;
    margin-top: 1px;
    margin-left: 5px;
}
.details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}