.card-title {
    width: 100%;
    height: 75px;
    font-weight: bold;
    background-color: rgb(247, 97, 177);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
